.todoListContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.todoListContainer li {
    margin: 0.5rem 0;
}

.todoListContainer li div {
    display: flex;
}

.buttonContainer {
    cursor: pointer;
    margin: 0 5px;
}
